<div class="container" id="home-container">
<div class="container-fluid bg-light p-5 text-center" >
<div id="jumbotron-con">
	  <h1 class="display-4">Hello</h1>
	  <p class="lead">This is  a jumbotron created using the bootstrap 5</p>
	  <hr class="my-4">
	  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
	  <a class="btn btn-success btn-lg" href="#" role="button"> sign up</a>
</div>
</div>
</div>

<footer class="bg-light text-center text-lg-start">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 Copyright:
    <a class="text-dark" >RoR</a>
  </div>
  <!-- Copyright -->
</footer>