<div class="container" id="home-container">
<div class="container-fluid bg-light p-5 text-center" >
<div id="jumbotron-con">
	  <h1 class="display-4">Hello</h1>
	  <p class="lead">This is  a jumbotron created using the bootstrap 5</p>
	  <hr class="my-4">
	  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
	  <%= link_to "Sign up!", signup_path, class: "btn btn-success btn-lg" %>
</div>
</div>
</div>

